@charset "UTF-8";

.ec-shadow-sm {box-shadow: 0px 0px 3px 2px #040C2B4d; }
.ec-header .navbar .btn { min-width: 60px; }

/** idx */
.ec-idx-session {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.ec-idx-session#idx_participate_dcsa {
	background-image: url(/_apiportal/common/images/apiportal_banner_dark_for_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#idx_api_category .card-header {
	height: 200px;
}

.idx_dcsa_line {
	height: 23px;
    width: 8px;
    margin: 0;
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 16px!important;
}

/** text */
.ec-text-title { font-weight: 700; margin-bottom: 1.5rem; }
.ec-text-subtitle {  }
.ec-text-item { font-weight: 700; margin-bottom: 1rem; }
.ec-text-subitem { font-weight: 700; color: #21337F; }


/** margin padding */
.ec-heading {
	padding-top: 5rem;
	padding-bottom: 3rem;
}
.ec-section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}