@charset "UTF-8";

/** font-family */
@font-face {
	font-family: "Montserrat";
	font-display: swap;
	src: url("/_util_lib/googlefonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url("/_util_lib/googlefonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

/** 填滿設定 */
html, body { height:100%; }
.ec-bg-body { background-color: #f8f9fa; }
.ec-bg-body-4slk { background-color: #f8f9fa; }
.ec-bg-body-4ecsample { background-color: #f8f9fa; }
.ec-wrapper, .ec-content { min-height:100%; display: flex; flex-direction: column; }
.ec-content, .ec-my-content { flex-grow: 1; }

/** wrapper 收合功能設定*/
.ec-wrapper .ec-header
.ec-wrapper .ec-content {
	margin-left: 0px;
}
.ec-wrapper.ec-toggled .ec-header,
.ec-wrapper.ec-toggled .ec-content{
	margin-left: 300px;
}

/** wrapper header */
.ec-wrapper .ec-header {
	z-index: 900;
}
/** wrapper content */

/** wrapper sidebar */
.ec-wrapper .ec-sidebar {
	position:fixed;
	top: 0;
    bottom: 0;
	left: -300px;
	width: 300px;
    box-shadow: 0px 0px 3px 2px #20327e4d;
    z-index: 910;
}
.ec-wrapper.ec-toggled .ec-sidebar {
    left: 0px;
}
.ec-header, .ec-sidebar, .ec-content {
    transition: .6s ease-out;
}
/** header */
.ec-header .navbar,
.ec-sidebar-header { height: 60px; }
.dropdown.ec-user-box .dropdown-toggle::after { display: none; }

/** cookie alert */
#btn_cookie_manage_preferences[aria-expanded="true"]{ display: none; }

/** menu */
.ec-menu-list {
	height: calc(100% - 150px);
}
.ec-menu-firstitem { padding: 0.5rem 0.75rem; }
.ec-menu-seconditem { padding: 0.25rem 0.75rem; margin-top:1px; }

.ec-menu-firstitem, .ec-menu-seconditem {
	display:flex;
	align-items: center
}

/** active checked */
.ec-menu-firstitem:not(.collapsed):not(.menu-link) {
	background: #e9ecef;
}
#dp_menu_filter .dropdown-item >i {
	visibility: hidden;
}
#dp_menu_filter .dropdown-item.checked >i {
	visibility: inherit;
}

/** other */
.ec-w-icon { min-width: 1.875rem; }
.ec-text-item:not(:first-child) { margin-top: 1rem; }

/** padding */
.ec-ps-default, .ec-px-default, .ec-p-default { padding-left: 1rem; }
.ec-pe-default, .ec-px-default, .ec-p-default { padding-right: 1rem; }
.ec-pt-default, .ec-py-default, .ec-p-default { padding-top: 1rem; }
.ec-pb-default, .ec-py-default, .ec-p-default { padding-bottom: 1rem; }

.ec-ps-default-sm, .ec-px-default-sm, .ec-p-default-sm { padding-left: 0.875rem; }
.ec-pe-default-sm, .ec-px-default-sm, .ec-p-default-sm { padding-right: 0.875rem; }
.ec-pt-default-sm, .ec-py-default-sm, .ec-p-default-sm { padding-top: 0.875rem; }
.ec-pb-default-sm, .ec-py-default-sm, .ec-p-default-sm { padding-bottom: 0.875rem; }

.ec-ps-default-lg, .ec-px-default-lg, .ec-p-default-lg { padding-left: 1.5rem; }
.ec-pe-default-lg, .ec-px-default-lg, .ec-p-default-lg { padding-right: 1.5rem; }
.ec-pt-default-lg, .ec-py-default-lg, .ec-p-default-lg { padding-top: 1.5rem; }
.ec-pb-default-lg, .ec-py-default-lg, .ec-p-default-lg { padding-bottom: 1.5rem; }

/** overflow */
.overflow-x-auto { overflow-x: auto !important; }
.overflow-y-auto { overflow-y: auto !important; }

/** ellipsis 單行文字...效果 */
.ec-single-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.ec-multiline-ellipsis-1 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; }
.ec-multiline-ellipsis-2 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.ec-multiline-ellipsis-3 { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

/** autocomplete */
.ui-autocomplete {
	max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}


